$mainBackgroundColor: #F0F0F0;

$mainFont : Vazir;
*
{
	font-family: $mainFont !important;
}
a
{
	text-decoration: none;
}

body
{
    background-color: $mainBackgroundColor;
    direction: rtl;
}

.plate
{
    max-width: 64rem;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.card
{
    flex: 0.3;
    display: block;
    flex-direction: column;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    .logo
    {
        display: block;
        height: 4rem;
        margin: 0 auto;
        margin-top: 0.6rem;
    }
    .title
    {
        font-weight: normal;
        text-align: center;
        margin-bottom: 0.4rem;
    }
    .iconTextBox
    {
        direction: rtl;
        margin: 0 auto;
        margin-top: 0.6rem;
        .iconBox
        {
            padding-left: 0.6rem;
            padding-bottom: 0.5rem;
            img
            {
                height: 2rem;
            }
        }
        .textBox
        {
            padding-bottom: 0.5rem;
            p
            {
                margin: 0px;
                font-size: 1.2rem;
                font-weight: 300;
            }
        }
    }
    .amountBox
    {
        margin: 0 auto;
        margin-top: 0.3rem;
        direction: rtl;
        tr.big
        {
            td
            {
                p
                {
                    direction: rtl;
                    font-size: 2.8rem;
                    margin: 0px;
                    font-weight: 300;
                }
                input
                {
                    margin-bottom: 0px;
                    height: 2rem;
                    width: 15rem;
                    font-size: 1.8rem;
                    padding-top: 0.2rem;
                    padding-bottom: 0.2rem;
                    border-radius: 4px;
                    outline: none;
                }
            }
        }
        tr.small
        {
            td.plusBox
            {
                text-align: right;
                p
                {
                    font-size: 1.1rem;
                    text-align: right;
                    direction: rtl;
                    margin: 0px;
                    margin-top: -0.7rem;
                    font-weight: 300;
                }
            }
            td.wageBox
            {
                text-align: right;
                p
                {
                    font-size: 1.1rem;
                    text-align: right;
                    direction: rtl;
                    margin: 0px;
                    margin-top: -0.7rem;
                    font-weight: 300;
                }
            }
        }
    }
}