
$primaryColor: #327F8F;
$seconderyTextColor: #F0F0F0;
$tertiaryTextColor: #FCF1CE;
$darkTextColor: #454545;
$grayColor: #959595;
$liteGrayColor: #BEBEBE;
$darkMainColor : #d7a221;
$payedColor : #45c175;
$issuedColor : #4585c1;
$canceledColor : #BCBEC0;
$canceledBackgroundColor : #808080;
$errorColor: #ff6464;
$payColor: #00c176;
$darkPayColor: #017f4d;
$mainBoxBackgroundColor: #FFFFFF;

$primaryTextColor : #677682;
$secondaryTextColor : #757575;
$tertiaryTextColor : #9E9E9E;
$fourthTextColor : #C6C6D0;
$liteTextColor: #FFFFFF;

$borderColor: $fourthTextColor;

a
{
	text-decoration: none;
}
table
{
    width: auto;
    tr
    {
        border: none;
    }
	td
	{
		vertical-align: middle !important;
		*
		{
			vertical-align: middle !important;
		}
	}
}
.rtl
{
    direction: rtl;
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

@mixin box-shadow($s1,$s2,$s3,$s4,$s5) {
  -webkit-box-shadow: $s1 $s2 $s3 $s4 $s5 !important;
     -moz-box-shadow: $s1 $s2 $s3 $s4 $s5 !important;
      -ms-box-shadow: $s1 $s2 $s3 $s4 $s5 !important;
          box-shadow: $s1 $s2 $s3 $s4 $s5 !important;
}

.row
{
	max-width: 73rem !important;
}


////////////// LOADING ///////////////////////
.spinner {
    font-size: 20px;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    box-shadow: inset 0 0 0 .1em rgba(40, 40, 40, .2);
    display: inline-block;
		position: relative;
		left: 0.4rem;
		opacity: 1;
		direction: ltr !important;
    -webkit-transition:0.3s ease opacity;
	     -moz-transition:0.3s ease opacity;
	      -ms-transition:0.3s ease opacity;
	       -o-transition:0.3s ease opacity;
	          transition:0.3s ease opacity;
}
.spinner.hide
{
	opacity: 0;
  -webkit-transition:0.3s ease opacity;
     -moz-transition:0.3s ease opacity;
      -ms-transition:0.3s ease opacity;
       -o-transition:0.3s ease opacity;
          transition:0.3s ease opacity;
}
.spinner i {
    position: absolute;
    clip: rect(0, 1em, 1em, .5em);
    width: 1em;
    height: 1em;
    animation: spinner-circle-clipper 1s ease-in-out infinite;
}

@keyframes spinner-circle-clipper {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(180deg);
    }
}

.spinner i:after {
    position: absolute;
    clip: rect(0, 1em, 1em, .5em);
    width: 1em;
    height: 1em;
    content: '';
    animation: spinner-circle 1s ease-in-out infinite;
    border-radius: 50%;
    box-shadow: inset 0 0 0 .1em $primaryTextColor;
}

@keyframes spinner-circle {
    0% {
        transform: rotate(-180deg);
    }

    100% {
        transform: rotate(180deg);
    }
}
////////////

body
{
	padding: 0px;
    margin: 0px;
    background-color: $primaryColor;
    &.pay
    {
        background-color: $issuedColor;
    }
    &.payed, &.paid
    {
        background-color: $payedColor;
    }
    &.error, &.not_found
    {
        background-color: $canceledBackgroundColor;
    }
}
.logoPlate
{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    margin-bottom: 1rem;
    .mainTitle
    {
        margin: 0px;
    }
}
.spacer
{
    flex: 1 1 auto;
}
.detailPlate
{
    width: 90vw;
    max-width: 30rem;
    border-radius: 9px;
    background-color: $mainBoxBackgroundColor;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1rem;
    padding-bottom: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    &.pay
    {
        margin-top: 8rem;
    }
    .mainLogo
    {
        height: 4rem;
    }
    .mainTitle
    {
        margin-top: 0.5rem;
        font-size: 1.5rem;
        color: $primaryTextColor;
    }
    .errorDetailBox
    {
        margin-top: 1rem;
        text-align: center;
        .title
        {
            font-size: 1.7rem;
            color: $primaryTextColor;
            font-weight: normal;
            margin: 0px;
            margin-bottom: 0.5rem;
        }
        .text
        {
            font-size: 1.1rem;
            color: $errorColor;
            padding-left: 3rem;
            padding-right: 3rem;
            text-align: center;
            margin: 0px;
            font-weight: 300;
            margin-bottom: 0.5rem;
            &.small
            {
                max-width: 40vw;
                margin: 0 auto;
                margin-bottom: 0.5rem;
            }
        }
        
    }
    .amountBox
    {
        margin: 0 auto;
        margin-top: 0.5rem;
        tr.big
        {
            td
            {
                p
                {
                    color: $primaryTextColor;
                    font-size: 2.2rem;
                    margin: 0px;
                    font-weight: 300;
                }
                input
                {
                    margin-bottom: 0px;
                    height: 2rem;
                    width: 15rem;
                    font-size: 1.2rem;
                    padding-top: 0.2rem;
                    padding-bottom: 0.2rem;
                    border-radius: 4px;
                    outline: none;
                }
            }
        }
        tr.small
        {
            td.plusBox
            {
                text-align: right;
                p
                {
                    font-size: 1.1rem;
                    text-align: right;
                    color: $primaryTextColor;
                    margin: 0px;
                    margin-top: -0.7rem;
                    font-weight: 300;
                }
            }
            td.wageBox
            {
                text-align: right;
                p
                {
                    font-size: 1.1rem;
                    text-align: right;
                    color: $primaryTextColor;
                    margin: 0px;
                    margin-top: -0.7rem;
                    font-weight: 300;
                }
            }
        }
    }
    .box
    {
        display: table-cell;
        width: 17rem;
        vertical-align: middle;
        // padding-right: 100vh*360/800;
        .payed
        {
            width: 100%;
            text-align: center;
            margin-bottom: 0rem;
            .photo
            {
                width: 12rem;
            }
            .detail
            {
                margin: 0 auto;
                margin-top: -4.7rem;
                text-align: center;
                p
                {
                    display: inline-block;
                    color: $liteTextColor;
                    margin: 0px;
                    font-size: 0.85rem;
                    text-align: left;
                    line-height: 2rem;
                    font-weight: 300;
                }
            }
        }
        .radioBox
        {
            border-radius: 3px;
            border: 1px solid $borderColor;
            padding: 0.5rem 1rem;
            display: inline-block;
            margin-top: 0.5rem;
            span
            {
                text-align: start;
                display: inline-block;
                width: 14.5rem;
                color: $primaryTextColor;
            }
        }
        input[type="radio"]:checked + span
        {
            color: $primaryColor;
        }
        .errorPhoto
        {
            width: 12rem;
            display: block;
            margin: 0 auto;
        }
        .nameLogoBox
        {
            margin: 0 auto;
            border-collapse: collapse;
            td
            {
                overflow: hidden;
            }
            .logoBox
            {
                background-color: $primaryTextColor;
                padding: 0.1rem;
                border-top-left-radius: 10px;
                border-bottom-left-radius: 10px;
                vertical-align: middle;
                img
                {
                    width: 3rem;
                    vertical-align: middle;
                }
            }
            .nameBox
            {
                background-color: rgba(160, 160, 160, 0.8);
                padding: 0.2rem 0.7rem;
                vertical-align: middle;
                border-top-right-radius: 10px;
                border-bottom-right-radius: 10px;
                p
                {
                    color: $primaryTextColor;
                    font-size: 1.5rem;
                    margin: 0px;
                    vertical-align: middle;
                }
                &.curved
                {
                    border-top-left-radius: 10px;
                    border-bottom-left-radius: 10px;
                }
            }
        }
        
        .iconTextBox
        {
            margin: 0 auto;
            margin-top: 0.5rem;
            .iconBox
            {
                padding-left: 0.6rem;
                padding-bottom: 0.5rem;
                img
                {
                    height: 2rem;
                }
            }
            .textBox
            {
                padding-bottom: 0.5rem;
                p
                {
                    margin: 0px;
                    color: $primaryTextColor;
                    font-size: 1.1rem;
                    font-weight: 400;
                }
            }
        }
        .actionButton
        {
            width: 16.5rem;
            &.margined
            {
                margin-top: 1rem;
            }
        }
    }
    &.middle
    {
        padding-top: 15vh;
    }
    &.center
    {
        min-height: 50vh;
    }
}
.logo
{
    width: 4rem;
    position: absolute;
    left: 1.4rem;
    top: 2rem;
}

.centerPlate
{
    margin: 0 auto;
    text-align: center;
}
.chooseGateway
{
    outline: none;
    min-width: 12rem;
}

.enamad
{
	position: fixed;
	left: 1rem;
	bottom: 1rem;
	height: 6rem;
	cursor: pointer;
}



@media screen and (max-width: 39.9375em) 
{
    .detailPlate
    {
        margin-top: 6rem;
        // padding-top: 10vh !important;
        padding-bottom: 2rem !important;
        .mainTextBox
        {
            .textBox
            {
                padding-left: 1rem;
                padding-right: 1rem;
                .text
                {
                    max-width: 100% !important;
                }
            }
        }
        .borderTextPlate
        {
            .borderPlate
            {
                padding-left: 1rem;
                padding-right: 1rem;
                ul
                {
                    width: 100%;
                }
            }
        }
    }
    
    .subDetailPlate .joinUs
    {
        font-size: 1.5rem;
    }
    .mainTextBox .textBox .text
    {
        font-size: 1.2rem;
    }

	.printButton
	{
		position: relative;
		bottom: auto;
		right: auto;
		width: 2.5rem;
		height: 2.5rem;
		cursor: pointer;
		left: 1.6rem;
		margin-bottom: 1rem;
	}
}


@media screen and (max-height: 39.9375em) and (orientation: landscape) {
	.printButton
	{
		position: relative;
		bottom: auto;
		right: auto;
		width: 2.5rem;
		height: 2.5rem;
		cursor: pointer;
		left: 1.6rem;
		margin-bottom: 1rem;
	}
}


#printPlate
{
	width: 100%;
	text-align: right;
	padding-top: 2rem;
	max-width: 64rem !important;
	margin: 0 auto;
	display: none;
	.orgName
	{
		font-size: 1rem;
		font-weight: normal;
		text-align: center;
		margin-bottom: 2rem;
	}
	.subtitle
	{
		font-size: 0.9rem;
		text-align: center;
		color: #404040;
		margin-bottom: 2rem;
	}
	.logo
	{
		height: 4rem;
		display: block;
		margin: 0 auto;

	}
	.sectionTitle
	{
		font-size: 1.3rem;
		text-align: center;
		border-bottom: 2px solid #303030;
		font-weight: normal;
		padding-top: 0.3rem;
		padding-bottom: 0.3rem;
		&.double
		{
			border-top: 2px solid #303030;
		}
	}
	.info
	{
		a
		{
			color: #000000;
			text-decoration: none;
		}
	}
}


@media print {

	body
	{
		.detailPlate,#topPage,.enamad, #changeLang
		{
			display: none;
		}
		#printPlate
		{
			display: block;
		}
	}
}